In [22]:
!pip install ipynb
!pip install numpy

Requirement already satisfied: ipynb in c:\users\mutluo\anaconda3\lib\site-packages (0.5.1)
Requirement already satisfied: numpy in c:\users\mutluo\anaconda3\lib\site-packages (1.19.2)

In [23]:
import pandas as pd
import numpy as np

In [24]:
import seaborn as sns

In [25]:
import matplotlib.pyplot as plt
import datetime as dt

In [26]:
df0 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230107.txt')
df0 = pd.DataFrame(df0)

In [27]:
df1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230114.txt')
df1 = pd.DataFrame(df1)

In [28]:
df2= pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230121.txt')
df2= pd.DataFrame(df2)

In [29]:
df3= pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230128.txt')
df3= pd.DataFrame(df3)

In [30]:
df4= pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230204.txt')
df4= pd.DataFrame(df4)

In [31]:
df5= pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230211.txt')
df5= pd.DataFrame(df5)

In [32]:
df6= pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230218.txt')
df6= pd.DataFrame(df6)

In [33]:
df7= pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230225.txt')
df7= pd.DataFrame(df7)

In [34]:
df8 =pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230304.txt')
df8= pd.DataFrame(df8)

In [35]:
df9 =pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230311.txt')
df9= pd.DataFrame(df9)

In [36]:
df10 =pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_230318.txt')
df10= pd.DataFrame(df10)

In [37]:
df = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df10],ignore_index = True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528113 entries, 0 to 2528112
Data columns (total 11 columns):
 #   Column                                                                Dtype
---  ------                                                                -----
 0   C/A                                                                   object
 1   UNIT                                                                  object
 2   SCP                                                                   object
 3   STATION                                                               object
 4   LINENAME                                                              object
 5   DIVISION                                                              object
 6   DATE                                                                  object
 7   TIME                                                                  object
 8   DESC                                                                  object
 9   ENTRIES                                                               int64
 10  EXITS                                                                 int64
dtypes: int64(2), object(9)
memory usage: 212.2+ MB

In [39]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2022,03:00:00,REGULAR,7811594,2771224
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2022,07:00:00,REGULAR,7811598,2771239
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2022,11:00:00,REGULAR,7811625,2771306
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2022,15:00:00,REGULAR,7811696,2771355
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2022,19:00:00,REGULAR,7811815,2771390

In [40]:
df.sample(40)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1407033,R143,R032,02-00-02,TIMES SQ-42 ST,1237ACENQRSW,IRT,02/17/2023,23:00:00,REGULAR,4909899,8644802
882076,H026,R137,00-03-02,MYRTLE-WYCKOFF,LM,BMT,01/29/2023,19:00:00,REGULAR,528609,59855
2201343,N336,R158,00-03-02,KEW GARDENS,EF,IND,03/17/2023,10:30:00,REGULAR,449879,264492
623742,R605,R456,00-00-03,HOYT ST,23,IRT,01/20/2023,11:00:00,REGULAR,482357,741057
833465,R551,R072,01-03-07,34 ST-HUDSON YD,7,IRT,01/21/2023,11:00:00,REGULAR,273948,960415
656497,C009,R057,03-05-01,ATL AV-BARCLAY,BDNQR2345,BMT,01/24/2023,11:00:00,REGULAR,0,131341
295588,N318,R298,00-00-00,NORTHERN BLVD,MR,IND,01/11/2023,12:00:00,REGULAR,6755621,7927761
473694,N035,R334,00-00-02,CATHEDRAL PKWY,BC,IND,01/19/2023,08:00:00,REGULAR,431775,523108
1232072,R307,R207,01-00-02,135 ST,23,IRT,02/04/2023,03:00:00,REGULAR,1829135738,1727231794
663718,E001,R368,00-05-00,9 AV,D,BMT,01/21/2023,04:00:00,REGULAR,463914,0
1710214,C009,R057,03-03-00,ATL AV-BARCLAY,BDNQR2345,BMT,02/27/2023,15:00:00,REGULAR,4451969,4365011
826546,R521,R327,00-00-00,52 ST,7,IRT,01/26/2023,00:00:00,REGULAR,5077292,3284720
766037,R102,R304,01-03-00,RECTOR ST,1,IRT,01/23/2023,15:00:00,REGULAR,133080,30492
2382199,N095,R014,00-03-07,FULTON ST,ACJZ2345,IND,03/13/2023,05:00:00,REGULAR,423440,472288
750406,N700,R570,00-00-03,72 ST-2 AVE,Q,IND,01/26/2023,04:00:00,REGULAR,1758561,2060732
237692,D005,R398,00-00-01,NEW UTRECHT AV,ND,BMT,01/11/2023,00:00:00,REGULAR,5793162,3995862
2501362,R414,R162,00-05-00,ELDER AV,6,IRT,03/12/2023,09:00:00,REGULAR,267978,131072
676655,J017,R432,00-00-01,CHAUNCEY ST,JZ,BMT,01/21/2023,08:00:00,REGULAR,247340,136675
1054237,R728,R226,00-03-02,GUN HILL RD,5,IRT,01/28/2023,11:00:00,REGULAR,12927519,1651512
1054641,R730,R431,00-00-02,EASTCHSTER/DYRE,5,IRT,02/02/2023,08:00:00,REGULAR,4243260,4028968
461870,H040,R376,00-00-03,EAST 105 ST,L,BMT,01/15/2023,16:00:00,REGULAR,2734908,2558835
742522,N539,R288,00-00-02,7 AV,FG,IND,01/23/2023,20:00:00,REGULAR,1943736,1490979
1452125,R419,R326,00-03-00,ZEREGA AV,6,IRT,02/17/2023,04:00:00,REGULAR,1303248,638455
1822263,R112,R027,02-00-00,WALL ST,23,IRT,02/25/2023,23:00:00,REGULAR,6023362,5129633
1506733,E001,R368,00-00-01,9 AV,D,BMT,02/21/2023,16:00:00,REGULAR,4170455,3204573
577011,R201,R041,00-06-00,BOWLING GREEN,45,IRT,01/15/2023,15:00:00,REGULAR,6889927,4649590
624431,R609,R056,01-03-00,NEVINS ST,2345,IRT,01/16/2023,11:00:00,REGULAR,139717,595311
1846909,R221,R170,01-06-01,14 ST-UNION SQ,456LNQRW,IRT,03/01/2023,08:00:00,REGULAR,654731,2077536
620356,R533,R055,00-00-05,FLUSHING-MAIN,7,IRT,01/18/2023,11:00:00,REGULAR,520759,1194177
63147,N095,R014,00-03-01,FULTON ST,ACJZ2345,IND,01/03/2023,16:00:00,REGULAR,2313,1917
1171512,N700,R570,00-00-01,72 ST-2 AVE,Q,IND,02/07/2023,00:00:00,REGULAR,956183,832581
1357571,N337,R255,00-06-01,BRIARWOOD,EF,IND,02/13/2023,07:00:00,REGULAR,4513,8010
148128,R173,R159,00-00-01,116 ST-COLUMBIA,1,IRT,01/02/2023,00:00:00,REGULAR,1053207,778278
883357,H037,R349,00-00-01,SUTTER AV,L,BMT,02/02/2023,04:00:00,REGULAR,296718,198616
2247952,R131,R190,00-00-01,23 ST,1,IRT,03/15/2023,21:00:00,REGULAR,8591508,3326645
1050513,R628,R064,00-00-02,SARATOGA AV,3,IRT,01/29/2023,23:00:00,REGULAR,67827943,17273578
1046073,R609,R056,01-00-01,NEVINS ST,2345,IRT,01/31/2023,23:00:00,REGULAR,3098787,2401125
820265,R419,R326,00-05-00,ZEREGA AV,6,IRT,01/24/2023,16:00:00,REGULAR,1814,0
97858,N422,R318,00-05-00,FULTON ST,G,IND,01/05/2023,19:00:00,REGULAR,377,196608
1052923,R644,R135,01-06-00,NEWKIRK AV,25,IRT,02/01/2023,16:00:00,REGULAR,11713,282110

In [41]:
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
2528108,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/17/2023,05:00:00,REGULAR,0,1117
2528109,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/17/2023,09:00:00,REGULAR,0,1117
2528110,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/17/2023,13:00:00,REGULAR,0,1117
2528111,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/17/2023,17:00:00,REGULAR,0,1117
2528112,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/17/2023,21:00:00,REGULAR,0,1117

In [42]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [43]:
df.columns = df.columns.str.strip()

In [44]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')